[Unit]
Description=Jetson Recorder Service
After=multi-user.target
After=time-sync.target
Wants=time-sync.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/jetson-recorder/jetson-recorder.sh
Restart=always
User=root
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target