[Unit]
Description=Jetson Recorder Service
After=multi-user.target
After=time-sync.target
Wants=time-sync.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/jetson-recorder/jetson-recorder.sh
Restart=always
RestartSec=2
RestartSteps=10
RestartMaxDelaySec=30
StartLimitBurst=20
User=root

[Install]
WantedBy=multi-user.target