name: local-monitoring

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    network_mode: host
    restart: always
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    network_mode: host
    restart: always
    user: "472"  # default Grafana user
    volumes:
      - grafana_data:/var/lib/grafana

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    network_mode: host
    restart: always
    pid: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|run|var/lib/docker/.+)($|/)'

  turbostat_exporter:
    image: ghcr.io/blackdark/prometheus_turbostat_exporter:main
    network_mode: host
    restart: always
    privileged: true
    environment:
      TURBOSTAT_EXPORTER_DEFAULT_COLLECT_SECONDS: 1

volumes:
  prometheus_data:
  grafana_data:
