[Unit]
Description=Automatic Jetson GPIO-triggered shutdown
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/florian/workspaces/infra/linux-tools/jetson-shutdown/jetson-gpio-shutdown.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
