[Unit]
Description=Valkey Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/valkey
ExecStart=/opt/valkey/valkey-server /etc/valkey/valkey.conf
Restart=always
RestartSec=5
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
